<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <listeners>
           <listener class-name="ListenerTest.ListenerTest"></listener>
       </listeners>
		<test  name="TestChrome">
		<parameter name="browser" value="Chrome" />
		<parameter name="changedURL"
			value="https://www.phptravels.net/account/" />
		<classes>
			<class name="tests.PhpTravelsSignUp">
			</class>
		</classes>
	</test>
	<test  name="Testie">
		<parameter name="browser" value="ie" />
		<parameter name="changedURL"
			value="https://www.phptravels.net/account/" />
		<classes>
			<class name="tests.PhpTravelsSignUp">
			</class>
		</classes>
	</test>
<test  name="Testfirefox">
		<parameter name="browser" value="firefox" />
		<parameter name="changedURL"
			value="https://www.phptravels.net/account/" />
		<classes>
			<class name="tests.PhpTravelsSignUp">
			</class>
		</classes>
	</test>
  
</suite> <!-- Suite -->
